body {
    background: linear-gradient(314.65deg, #230a44 -0.61%, #4a299f 100%);
    height: 100vh;
}
.topo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .logotipo {
        width: 201px;
        height: 115px;
        img {
            width: 100%;
            height: 100%;
        }
    }
}
.formulario {
    width: 100%;
    max-width: 330px;
}
.btn-login{
    width: 100%;
}
.lembrar-acesso{
    text-align: center;
}